<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{hash.title}}">
  <ion-content class="padding">
    <div class="list card" ng-show="!ui.showPledgeOptions">
      <div class="item item-avatar">
        <img src="{{hash.face}}">
        <h2>{{hash.tag_name}}</h2>
        <p>{{hash.title}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{hash.image}}">
        <p>
          {{hash.desc}}
        </p>
        <p>
          <span>
            <i class="ion-social-usd"></i>
            {{hash.raised_money}}
          </span>
          <a href="#" class="subdued supporters" ng-show="hash.supporters.length > 0"> <i class="ion-person"></i> {{hash.supporters.length}}</a>
          <a target="_blank" ng-href="https://www.facebook.com/sharer/sharer.php?u={{ hash.share_url }}"> <button class="button icon-left ion-android-happy button-positive share-button"></button></a>
          <!--<button ng-click="pledgeAction()" class="button icon-left ion-android-happy button-positive share-button"></button>-->
        </p>
      </div>
    </div>
    <div class="list card" ng-show="ui.showPledgeOptions">
      <div class="item item-avatar">
        <img src="{{hash.face}}">
        <h2>{{hash.tag_name}}</h2>
        <p>{{hash.title}}</p>
      </div>
      <div class="item item-body">
        <h2 ng-show="ui.showThanks">Thanks ;)</h2>
        <button ng-show="!ui.showThanks" class="button button-stable price-selection" ng-repeat="pledgeOption in ui.pledgeOptions" ng-class="{'button-energized': pledgeOption.selected}" ng-click="pledgeOptionAction(pledgeOption)">
          ${{pledgeOption.price}}
        </button>
        <div ng-show="!ui.showThanks" class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="custom $$$">
          </label>
        </div>
            <button ng-click="pledgeAction()" class="button icon-left ion-android-happy button-positive share-button"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
