<ion-view view-title="Hash Feed">
  <ion-content>
    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="doRefresh()">
     </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="hashfeed in hashfeeds" type="item-text-wrap" href="#/tab/hashfeed/{{hashfeed.id}}">
        <img ng-src="{{hashfeed.face}}">
        <h2>{{hashfeed.tag_name}}</h2>
        <p>{{hashfeed.title}}</p>
        <p>{{hashfeed.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(hashfeed)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
      <a href="#/tab/hash/create" class="content">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div>
</ion-view>